$text-color: rgba(44, 46, 63, 0.7);
$main-black: #141517;
$black: #000000;
$title-color: #2C2E3F;
$bgcolor-white: #ffffff;
$btn-color: #FE7865;
$border-footer-color: #D7D9DF;
$tabs-color: rgba(44, 46, 63, 0.3);
$prices-color: rgba(20, 21, 23, 0.7);
$box-shadow-color: rgba(41, 54, 66, 0.1);
$footer-color: rgba(20, 21, 23, 0.5);

$img-path: "../img/";

$mobile-width-max: 767px;
$tablet-width-max: 1023px;
$desktop-width: 1024px;
